#N
PWM_OUTA0
PWM_OUTA1
PWM_OUTB0
PWM_OUTB1
SPI_SCLK
SPI_MOSI
SPI_SS
I2C_SCL
UART_TXD
#S
wr_data.*
en_tmr_in0
en_pwm_outa0
en_pwm_outb0
en_tmr_in1
en_pwm_outa1
en_pwm_outb1
en_i2c
en_spi
en_uart
#W
clk
resetn
cs
wstrb.*
addr.*
irq_int0
irq_int1
irq_pinchange
#E
rd_data.*
ready
gpio_pins.*